<div class="header d-flex justify-content-center p-4">
  <h2>Booking</h2>
</div>

<h3><%= @place.name %></h3>
<p><strong>Price per day:</strong> $<%= @place.price_day.to_i %></p>
<p><strong>Total price:</strong> $<%= @booking.total_price.to_i %></p>

<p><strong>Booking from: </strong><%= @booking.startdate.to_formatted_s(:short) %> to <%= @booking.enddate.to_formatted_s(:short) %></p>

<%= cl_image_tag @place.photo.key, height: 300, width: 400, crop: :fill if @place.photo.key %>
