<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ambient Canvas Backgrounds | Shift | Codrops</title>
  <meta name="description" content="A set of animated ambient canvas backgrounds with different effects" />
  <meta name="keywords" content="canvas, ambient, background, animation, javascript, demo, web development" />
  <meta name="author" content="Codrops" />
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <link rel="stylesheet" type="text/css" href="css/demo3.css" />
  <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>

<body>
  <%= render 'shared/navbar' %>
  
  <%# cards %>
  <ul>
    <%@places.each do |place| %>

      <div id="cards">
        <div id="container">
          <div class="product-details">
            <h1><%=place.name%></h1>
            <div class="control">
              <button class="btn">
               <span class="price"><%=place.price_day%></span>
               <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
               <span class="buy">Get now</span>
             </button>
            </div>
          </div>
          <div class="product-image">
            <img src="https://wallpaper.dog/large/17066191.jpg" alt="Hogwarts">
            <div class="info">
              <h2> Description</h2>
              <%=place.description%>
              <h4> Type: <%=place.place_type%></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</body>
</html>
