<%= render 'shared/navbar' %>

<div class="header d-flex justify-content-center p-4">
  <h2>Add a place to rent</h2>
</div>

<div class="container">
  <%= simple_form_for(@place) do |f| %>
          <%= f.input :name, placeholder: 'Add a name' %>
          <%= f.input :place_type, placeholder: 'Add a type' %>
          <%= f.input :description, placeholder: 'Add a description' %>

<div class="container p-4">
  <%= simple_form_for(@place) do |f| %>
          <%= f.input :name, placeholder: 'Add a name' %>
          <%= f.input :place_type, placeholder: 'Add a type' %>
          <div class="mb-3">
          <%= f.input :description, placeholder: 'Add a description', class:"form-label"%>
          </div>
          <%= f.input :price_day, placeholder: 'Add a price' %>
          <%= f.input :photo, as: :file %>
          <div class="d-grid gap-2 col-2 mx-auto">
          <%= f.submit "Create", class: "btn btn-primary p-3" %>
          </div>
          <% end %>
</div>
