
<div class="header d-flex justify-content-center p-4 ">
  <h2>Place</h2>
</div>

<div class="container ">
  <div class="card">
    <div class="image">
      <%= cl_image_tag @place.photo.key, crop: :fill if @place.photo.key %>
    </div>
      <h2><%= @place.name %></h2>
      <h2><%= @place.price_day %></h2>
      <p><%= @place.description %></p>
      <h2><%= @place.place_type %></h2>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto pt-3">
    <button class="btn btn-primary" id="buttonpad">
      <%=  link_to "Book Now!", new_place_booking_path(@place) %>
    </button>
  </div>
  </div>




<button class="btn">
  <%=  link_to "Booking Now!", new_place_booking_path(@place), class: "buy" %>
</button>
